{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Авторизация</h1>
    <hr>
    {% if form.errors %}
        <p>{{ form.errors.error }}</p>
    {% endif %}
    <div class="input-group input-group-sm mb-3">
    <form action="{% url 'login' %}" method="post" >
    {{ form | crispy}}
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Войти</button>

    </form>
    </div>
    <a href="{% url 'password_reset' %}">
        <button type="button" class="btn btn-outline-danger">Забыли пароль?</button>
    </a>
{% endblock %}